<div class="login-box-container uk-clearfix">
  <div class="login-box uk-panel uk-panel-box">

    <div class="uk-panel-badge uk-badge"><a href="#">Crear cuenta</a></div>
    <form class="uk-form" ng-submit="submit_login()" name="login_form">
      <fieldset>
        <legend>Iniciar sesion</legend>
        <div class="uk-form-row">
          <input type="email" id="username" name="username" ng-model="user.name" placeholder="Usuario" required/>
        </div>
        <div class="uk-form-row">
          <input type="password" id="password" name="password" ng-model="user.password" placeholder="Contraseña" required/>
        </div>
        <div class="uk-form-row">
          <button class="uk-button uk-button-primary" type="submit">Ingresar</button>
        </div>
      </fieldset>
    </form>
  </div>
</div>
