<div class="login-box-container uk-clearfix">
  <div class="login-box uk-panel uk-panel-box">

    <form class="uk-form" ng-submit="submit_login()" name="login_form">
      <fieldset>
        <legend class="clearfix">Iniciar sesion <a href="#/gym/add" class="uk-button uk-button-link uk-float-right">Crear usuario</a></legend>
        <div class="uk-form-row">
          <label for="class-add-input-0" class="uk-form-label">Usuario</label>
          <div class="uk-form-controls">
            <input type="text" id="class-add-input-0" ng-model="user.email" required placeholder="Correo electronico"/>
          </div>
        </div>

        <div class="uk-form-row">
          <label class="uk-form-label" for="class-add-input-1">Contraseña</label>
          <div class="uk-form-controls"><input type="password" id="class-add-input-1" name="password" ng-model="user.password" placeholder="Contraseña" required/></div>
        </div>
        <div class="uk-form-row">
          <div class="uk-form-controls">
            <input type="checkbox" id="class-add-input-2" ng-model="user.remember" />
            <label for="class-add-input-2">Recordar usuario?</label>
          </div>
        </div>
        <div class="uk-form-row">
          <button class="uk-button uk-button-primary" type="submit">Ingresar</button>
          <a href="#/user/forgot" class="uk-button uk-button-link">Olvidaste tu contraseña?</a>
        </div>
      </fieldset>
    </form>
  </div>
</div>
