<div class="login-box-container uk-clearfix">
  <div class="login-box uk-panel uk-panel-box">

    <form class="uk-form" ng-submit="user_add()" name="login_form">
      <fieldset>
        <legend class="clearfix">Agregar usuario al gym</legend>
        <div class="uk-form-row">
          <label for="class-add-input-0" class="uk-form-label">Nombre</label>
          <div class="uk-form-controls">
            <input type="text" id="class-add-input-0" ng-model="user.name" required placeholder=""/>
          </div>
        </div>
        <div class="uk-form-row">
          <label for="class-add-input-1" class="uk-form-label">Usuario</label>
          <div class="uk-form-controls">
            <input type="text" id="class-add-input-1" ng-model="user.email" required placeholder="Correo electronico"/>
          </div>
        </div>

        <div class="uk-form-row">
          <label for="class-add-input-2" class="uk-form-label">Tipo de usuario</label>
          <div class="uk-form-controls">
            <select name="" id="class-add-input-2" ng-options="type.id as type.label for type in types" ng-model="user.profile_id"></select>
          </div>
        </div>

        <div class="uk-form-row">
          <label for="class-add-input-3" class="uk-form-label">Número de teléfono</label>
          <div class="uk-form-controls">
            <input type="tel" id="class-add-input-3" ng-model="user.phone_number"/>
          </div>
        </div>


        <div class="uk-form-row">
          <button class="uk-button uk-button-primary uk-float-right" type="submit">Agregar</button>
        </div>
      </fieldset>
    </form>
  </div>
</div>
